#paragraph1 {

	color: yellow;
}

* {
	font-family: "Verdena", sans-serif;
	font-size: 20px;
}

h1 {

	font-size: 60px;
}

#head2	{

	text-transform: uppercase;
}

.lang {

	background-color: rgb(160, 225, 150);
}


ol[title] > li {

	border: 1px rgb(120, 150, 200) solid ;

}

ul > li {

	letter-spacing: 10px;
	list-style-type: none;
}

section > img {

	width: 120px;
	height: 120px;
	border-radius: 120px;
}

ul ~ p {
	color: black;
	text-align: center;

}